
body {
    background-color: #cccccc88;
}

h1 {
    background-color: rgba(0, 0, 0, 0.678);
    padding: 10px;
    color: white;
    margin-bottom: 0;
    text-align: center;
}

.container {
    background-color: white;
    border-top: none;
    padding: 0;
    border-radius: 0 0 0 0;
    margin-bottom: 20px;
}

.coluna {
    text-align: center;
    margin-top: 10px;
    
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    
}

@media screen and (max-width: 640px) {

}