body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: rgb(92, 92, 92);
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #383838;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-instrumentos .nav-link.active:hover {
    color: #fff;
}

#sobre-a-loja {
    background-color: rgb(133, 133, 133);
}

#eventos {
    background-color: #ffda9b8e;
}

#instrumentos {
    background-color: rgb(133, 99, 74);
}

#fale-conosco {
    background-color: rgba(124, 107, 75, 0.588)
}

.navbar-toggler {
    background-color: lightgray;
}

.section-title {
    font-family: 'Pacifico', cursive;
}

.text-colored {
    color: #ece8e8;
}

.nav-instrumentos .nav-link.active,
#fale-conosco button {
    background-color: #d49043d7;
    color: #fff;
}

.nav-instrumentos .nav-link:hover {
    color: #383838;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
    color: black;
}

i {
    pointer-events: none;
}

.tab-pane {
    padding-left: 15px;
}

@media (max-width: 767px) {
    .carousel-item img {
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .carousel-item img {
        max-width: 100%;
    }
}